{% extends "base.html" %}
{% load static %}
{% block content %}


    <section class="dictionary_block vocab_main">
        {% if rec_words %}
            <div class="dictionary">
                <div class="dictionary_inputs">
                    <section class="dictionary_actions">
                        <form method="get" action="{% url 'vocab:recommend:recommend-page' %}"
                              class="dictionary_actions">
                            <div class="dictionary_actions__search">
                                {{ form.search_input }}
                            </div>
                            <div class="dictionary_actions__categories">
                                {{ form.category }}
                            </div>
                            <button type="submit"> Search</button>
                        </form>
                    </section>


                </div>
                <div class="dictionary_additional_buttons">
                    <p class="down" style="color: #858687">To study:&nbsp;
                        <span
                                style="font-weight: bold; color: black">{{ get_study_words }}
                        </span>
                    </p>

                    <p class="down">
                        <a href="{% url 'vocab:training:training-page' %}" class="down">
                            <span>Train oneself</span>
                            <img src="{% static 'img/switch-horizontal-01.svg' %}" alt="">

                        </a>

                    </p>
                </div>


            </div>
            <div class="dictionary_words_table">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th class="word-header"
                            style="">Word
                        </th>
                        <th class="translation-header">
                            Translation
                        </th>
                        <th>Category</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for rec_word in rec_words %}


                        <tr>
                            <td>{{ rec_word.en_word }}</td>
                            <td>{{ rec_word.ua_word }}</td>
                            <td>{{ rec_word.category }}</td>
                            <td class="action-with-word">
                                {% include 'inc/_add_to_dictionary.html' %}
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
            {% include 'inc/_pagination.html' %}
        {% else %}
            {% include 'inc/_zero_words.html' %}
        {% endif %}
    </section>

{% endblock %}