.vocab_headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vocab_header__navigations {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 31%;
    justify-content: space-between;


}

.vocab_header__navigations button {
    margin-right: 2%;
}

.vocab_header__navigations a {
    width: inherit;
}

.vocab_header__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.vocab_header__profile p {
    margin-right: 10%;
    font-weight: bold;
}


.vocab_header__navigations__button.active {
    background-color: var(--main-green-color);
    color: white;
    padding: 15%;
    border-radius: 15px;

}

.vocab_header__navigations__button.active:hover {
    background-color: var(--secondary-green-color);
    color: white;
}

.vocab_header__navigations__button, .vocab_header__navigations__button:hover {
    background-color: white;
    color: black;
}

.vocab_header__logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vocab_header__logo-text a{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.vocab_header__logo-text img {
    margin-right: 13px;
}

.vocab_header__logo-text h3 {
    margin-top: 2%;
}

.vocab_header.profile {
    justify-content: flex-end
}


/*///////////////////////////////*/




