{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="vocab_register vocab_main">
        <section class="vocab_register__form">
            <p class="p_register">Login</p>
            <p class="p_register__secondary">Please enter your login details to continue using our service:</p>

            <form method="post" action="{% url 'user_account:login_user' %}" class="auth-form">
                {% csrf_token %}
                {{ form.username }}

                <div class="error-message">
                </div>
                <div class="password-input">
                    {{ form.password }}

                    <img class="toggle-password" src="{% static "img/eye.png" %}" alt="Show/Hide Password"
                         onclick="togglePassword()">
                </div>
                {{ form.non_field_errors }}

                <div class="vocab_register__buttons">
                    <button class="vocab_register__button register" type="submit">Login</button>
                </div>
            </form>
            <a href="{% url 'user_account:register' %}">
                <button class="vocab_register__button login">Register</button>
            </a>

        </section>

        <section class="vocab_register_info">
            <img src="{% static "img/illustration.png" %}" alt="">
        </section>
        <script>
            function togglePassword() {
                var passwordInput = document.getElementById("id_password");
                var toggleIcon = document.querySelector(".toggle-password");

                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    toggleIcon.src = "{% static "img/eye-off.png" %}";
                } else {
                    passwordInput.type = "password";
                    toggleIcon.src = "{% static "img/eye.png" %}";
                }
                toggleIcon.classList.toggle("active");

            }
        </script>
    </div>
{% endblock %}
