{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="vocab_register vocab_main">
        <section class="vocab_register__form">
            <p class="p_register">Register</p>
            <p class="p_register__secondary">To start using our services, please fill out the registration form
                below.
                All fields are mandatory:</p>
            <form method="post" action="{% url 'user_account:register' %}" class="auth-form">
                {% csrf_token %}
                {{ form.username}}
                {{ form.username.errors }}
                {{ form.email }}
                {{ form.email.errors }}
                <div class="password-input">
                    {{ form.password }}
                    {{ form.password.errors }}
                    <img class="toggle-password" src="{% static "img/eye.png" %}" alt="Show/Hide Password"
                         onclick="togglePassword()">
                </div>


                <div class="vocab_register__buttons">
                    <button class="vocab_register__button register" type="submit">Register</button>

                </div>
            </form>
            <a href="{% url 'user_account:login_user' %}">
                <button class="vocab_register__button login">Login</button>
            </a>
        </section>

        <section class="vocab_register_info">
            <img src="{% static "img/illustration.png" %}" alt="">
        </section>
        <script>
            function togglePassword() {
                var passwordInput = document.getElementById("id_password");
                var toggleIcon = document.querySelector(".toggle-password");

                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    toggleIcon.src = "{% static "img/eye-off.png" %}";
                } else {
                    passwordInput.type = "password";
                    toggleIcon.src = "{% static "img/eye.png" %}";
                }
                toggleIcon.classList.toggle("active");

            }
        </script>
    </div>
{% endblock %}
