{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="vocab_headers vocab_main">
            <section class="vocab_header__logo-text">
                <a href="{% url 'vocab:dictionary:main_page' %}">
                    <img src="{% static "img/_inc/_header/Craftwork.png" %}" alt="">
                    <h3>VocabBuilder</h3>
                </a>
            </section>

            <section class="vocab_header__navigations">

                <a href="{% url 'vocab:dictionary:main_page' %}">
                    <button class="vocab_header__navigations__button {% if request.resolver_match.url_name == 'main_page' %}active{% endif %}">
                        Dictionary
                    </button>
                </a>

                <a href="{% url 'vocab:recommend:recommend-page' %}">
                    <button class="vocab_header__navigations__button {% if request.resolver_match.url_name == 'recommend-page' %}active{% endif %}">
                        Recommend
                    </button>
                </a>

                <a href="{% url 'vocab:training:training-page' %}">
                    <button class="vocab_header__navigations__button {% if request.resolver_match.url_name == 'training-page' %}active{% endif %}">
                        Training
                    </button>
                </a>

            </section>
            <section class="vocab_header__profile">
                <p><a href="{% url 'user_account:logout_user' %}">{{ request.user }}</a></p>
                <img src="{% static 'img/user.png' %}" alt="">
            </section>
            {% include 'inc/_hamburger.html' %}

        </div>

    {% else %}
        <div class="vocab_headers vocab_main">

            <section class="vocab_header__logo-text">
                <img src="{% static "img/_inc/_header/Craftwork.png" %}" alt="">
                <h3><a href="{% url 'vocab:dictionary:main_page' %}">VocabBuilder</a></h3>
            </section>
        </div>
    {% endif %}

{% endblock %}